<h1>Listing time_records</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @time_records.each do |time_record| %>
      <tr>
        <td><%= time_record.time %></td>
        <td><%= link_to 'Show', time_record %></td>
        <td><%= link_to 'Edit', edit_time_record_path(time_record) %></td>
        <td><%= link_to 'Destroy', time_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time record', new_time_record_path %>
